// 按钮样式
@mixin button($type) {
  align-items: center;
  border-color: $color-border;
  color: #fff;
  display: inline-flex;
  font-size: 12px;
  height: 36px;
  justify-content: center;
  line-height: 0;
  @if $type == search { // 查询
    background: #29B0A3;
    border: 0;
    width: 100px;
  } @else if $type == confirm { // 编辑确认
    background: #2196F3;
    border: 0;
    min-width: 76px;
  } @else if $type == cancel { // 删除对话框中取消
    background: $white;
    color: #666;
    width: 76px;
  } @else if $type == sure { // 删除对话框中确定
    background: #085EB5;
    width: 76px;
    border: 0;
  } @else if $type == addInList { // 列表页中新增
    background: #2196F3;
    border: 0;
    min-width: 100px;
  } @else if $type == addInEdit { // 编辑页中新增
    background: #009588;
    border: 0;
    width: 76px;
  } @else if $type == addInNew { // 新增页中新增
    background: #2196F3;
    border: 0;
    width: 76px;
  } @else { // 默认
    background: $white;
    color: $color-default;
  }
}
// 按钮hover样式
@mixin button-hover($type) {
  color: #fff;
  @if $type == search {
    background: rgba(#29B0A3, 0.9);
  } @else if $type == confirm {
    background: rgba(#2196F3, 0.9);
  } @else if $type == cancel {
    color: #666;
    background: rgba($color-border, 0.2);
  } @else if $type == sure {
    color: #fff;
    background: rgba(#085EB5, 0.9);
  } @else if $type == addInList {
    background: rgba(#2196F3, 0.9);
  } @else if $type == addInEdit {
    background: rgba(#009588, 0.9);
  } @else if $type == addInNew {
    background: rgba(#2196F3, 0.9);
  } @else {
    color: $color-default;
    background: rgba($color-border, 0.2);
    border-color: $color-border;
  }
}
// 其他按钮
@mixin button-diy($type: default) {
    &:not(.el-button--text){ @include button($type); }
    &:not(.el-button--text):hover{ @include button-hover($type); }
    &:not(.el-button--text):active{ @include button-hover($type); }
    &:not(.el-button--text):focus{ @include button-hover($type); }
    &:not(.el-button--text):visited{ @include button-hover($type); }
}
// 复选框
