// 白色
$white: #FCFCFC;
// 页面背景颜色
$background: #F5F5F5;
// 头部背景颜色
$background-header: #37474F;
// 输入框高度
$height-input: 36px;
// 边框颜色
$color-border: #DDDDDD;
// 默认颜色
$color-default: #333;
// 字体
$font-size: 12px;
// 默认内边距
$padding-default: 20px;
// 默认上外边距
$margin-top: 10px;
// 筛选框宽度
$width-input-filter: 176px;
