@each $type in search, addInList, addInEdit, addInNew, confirm, cancel, sure {
  .el-button.button-#{$type} { @include button-diy($type); }
}

.filters{ // 筛选框
    padding: 10px 20px 20px;
    overflow: hidden;
    &>[class^="el-"]{
      vertical-align: top;
      margin-top: 10px;
      &:not(.el-button) {
        width: 176px;
        margin-right: 20px;
      }
      &.button-addInList{
        float: right;
      }
    }
}
.detail-card{ // 卡片
  border: $border;
  background: $white;
  border-radius: $radius;
  font-size: 14px;
  color: #333;
  .card-title{
    color: #333;
    border-bottom: $border;
    padding: $padding-default;
    font-weight: bold;
  }
  .card-body{
    box-sizing: border-box;
    padding: 0 20px 20px 40px;
    border-bottom: $border;
    overflow: hidden;
    &:last-child{ border: 0;}
    label{
      font-size: 12px;
      color: #666;//新改的字体颜色
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-top: 16px;
      box-sizing: border-box;
      line-height: 20px;
    }
    label + span{
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 148px);
      min-height: 16px;
      padding-top: 16px;
      padding-bottom: 6px;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .el-row .el-col-12:first-child{
    span{
      width: calc(100% - 198px);
    }
  }
  .detail{
      margin-top: 20px;
      font-weight: bold;
      font-size: 12px;
      & + .el-button{
          float: right;
          margin-top: 20px;
      }
      &.el-row{
        margin-top: 0;
      }
  }
  & + .detail-card { margin-top: 10px; }
}

.card{
    border:1px solid #ddd;
    border-radius:5px;
    background:#fff;
    .um-title{
        display: block;
        padding:20px;
        border-bottom:1px solid #DDD;
        color: #333;
        font-size:14px;
        font-weight: bold;
    }
    &+.card{
        margin-top: 10px;
    }
}

.box{
    height: 100%;
    width: 100%;
}
// 修改密码页面的输入框
.gray-inner{
  .el-input__inner {
    background: #f5f5f5;
    &:focus {
      background: #ffffff;
    }
  }
}
.el-form{
    .el-form-item{
        &.w50{ // 并排的表单
            margin-right: 0;
            padding-right: 20px;
            width: 50%;
            box-sizing: border-box;
        }
        &.w100{ // 独占一行的表单
            margin-right: 0;
            padding-right: 20px;
            width: 100%;
            box-sizing: border-box;
        }
        &.noLable{ // 没有label的表单
            width: 100%;
            .el-form-item__content{
                width: 100%;
            }
        }
        &.textarea{ // 有文本域的表单
            .el-textarea{
                height: 134px;
            }
        }
        &.hasButton{ // 有两个按钮且按钮位于右侧，按钮为76px宽的表单
            width: 100%;
            padding-right: 20px;
            .el-form-item__content{
                display: flex;
                justify-content: flex-end;
                button{
                    width: 76px;
                }
            }
        }
        &.the-disabled{ // 不可修改的表单
            .el-input__inner{
                background: #F2F2F2;
                border: 1px solid #DDDDDD;
                cursor: not-allowed;
                color: #999;
                height: 36px;
                vertical-align: top;
                line-height: 34px;
                margin-top: 2px;
            }
        }
    }
    .el-form-item-div{ // 有两个按钮的表单，按钮位于右侧，按钮间相隔20px
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        button{
            margin-right: $padding-default;
            margin-left: 0;
        }
    }
}
.formPadding{
    padding: 20px 0 20px 20px;
    .el-checkbox__input.is-checked + .el-checkbox__label {
      color: #606266;
    }
    .el-checkbox__inner:hover {
      border-color: #dcdfe6;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background: #999;
      border-color: #999;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner{
      border-color: #999;
    }
}
.form-criminal{
    .form-box{
      border-bottom: 1px solid #ddd;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      padding: 30px 0 10px;
      &:after{
        content: "";
        width: 20px;
        position: absolute;
        height: 1px;
        background: #fff;
        display: block;
        bottom: -1px;
      }
    }
    .form-box:last-child{
      border-bottom: 0;
      padding-bottom: 20px;
      &:after{
        display: none;
      }
    }
    .w25{
      width: 25%;
      box-sizing: border-box;
      padding-right: 20px;
      padding-left: 20px;
      flex-shrink: 0;
    }
    .w50{
      .el-form-item__label{
        padding-left: 20px;
      }
      .el-form-item__content>[class^="el-"]:not(.el-textarea):not(.el-cascader):not(.el-date-editor):nth-child(1){
        padding-left: 20px;
        .el-input__prefix{
          left: 20px;
        }
        &+.el-form-item__error{ left: 20px; }
      }
      .el-form-item__content>.el-textarea{
        padding: 0 0 0 20px;
        height: 130px;
        width: 100%;
        box-sizing: border-box;
        &+.el-form-item__error{
            left: 20px;
        }
      }
      .el-form-item__content>.el-cascader{
        height: 36px;
        padding: 0;
        box-sizing: border-box;
        margin-left: 20px;
        width: calc(100% - 20px);
        &+.el-form-item__error{
            left: 20px;
        }
      }
      .el-form-item__content>.el-date-editor{
        height: 36px;
        padding: 0;
        box-sizing: border-box;
        margin-left: 20px;
        width: calc(100% - 20px);
        &+.el-form-item__error{
            left: 20px;
        }
        .el-input__icon{ margin-left: 0px; width: 36px; }
        .el-range-input{ width: calc(39% - 12px); font-size: 12px; vertical-align: top; }
        .el-range-separator{ line-height: 34px;}
      }
    }
    .w75{
      width: 100%;
      box-sizing: border-box;
      flex-shrink: 0;
      .el-form-item:nth-child(1){
        width: calc(50% - 40px);
        margin-left: 20px;
        float: left;

      }
      .el-form-item:nth-child(2){
        width: calc(50% - 40px);
        margin-left: 40px;
        float: left;

      }
      .el-cascader{
        width: 100%;
      }
    }
    .w100{
        padding: 0;
        padding-left: 20px;
        flex-shrink: 0;
        .el-form-item__content>.el-textarea{
          height: 130px;
          width: 100%;
          box-sizing: border-box;
          &+.el-form-item__error{
              left: 20px;
          }
        }
    }
}
.el-table{
    tr,th,td{
        color: #333;
        font-size: 12px;
        padding: 0;
        height: 40px;
        line-height: 40px;
    }
    .tableHeader{
        height: 50px;
        font-size: 12px;
        font-weight: bold;
        th.is-leaf{
            border-bottom-color: #bbb;
        }
    }
    .tableHeader40{
      background: #F5F5F5;
      height: 40px;
      font-weight: bold;
      th,td{ background: transparent; }
    }
    .cell {
      button + button {
        margin-left: 7px; // 需小于20px
      }
    }
}
.container {
  .el-table__body-wrapper {
    overflow: inherit;
  }
}
.my_table{
    &.el-table--border, &.el-table--group{
        border: 0;
        border-top: 1px solid #ddd;
    }
    &.el-table--border td, &.el-table--border th{
        border-color: #ddd;
    }
    .cell{
        line-height: 50px;
        font-size: 12px;
        padding: 0 20px !important;
    }
    .caret-wrapper{
        float: right;
        width: 10px;
        height: 50px;
        position: relative;
        justify-content: center;
        .sort-caret{
            position: relative;
            &.ascending{
                top: 0px;
            }
            &.descending{
                bottom: -2px;
            }
        }
    }
    &.el-table--border::after, &.el-table--group::after{
        display: none;
    }
}
.list-box{ // 罪犯编辑模块的表格的父元素
  border-top: 1px solid #ddd;
  margin-left: 20px;
  padding: 30px 20px 0 0;
  overflow: hidden;
}
.table40{ // 行高40px的表格
  border: 1px solid #ddd;
  border-bottom: 0;
  margin-bottom: 30px;
  &+button{
    float: right;
  }
  &.el-table--border::after, &.el-table--group::after{
    display: none;
  }
}
.deleteDialog{
  .el-dialog__body{
    color: #333;
    text-align: center;
    padding-bottom: 0;
  }
  b {
    font-weight: bold;
  }
  .icon-tishishuoming {
    color: #e82e21;
    font-size: 80px;
    display: block;
    line-height: 80px;
    margin-bottom: 27px;
    & + span {
      line-height: 1;
    }
  }
  .el-dialog__footer {
    padding-top: 30px;
    button {
      width: 76px;
      background: #fcfcfc;
      color: #666;
      & + button {
        margin-left: 20px;
        color: #fff;
        background: #085eb5;
        border-color: #085eb5;
      }
    }
  }
}
.user-checkbox-group{
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  .el-checkbox{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    &+.el-checkbox{ margin-left: 0; }
    .el-checkbox__inner{ margin-top: 2px;}
  }
  .el-checkbox__label{ padding-left: 0; padding-right: 10px; }
}
