.box{
    height: 100%;
    width: 100%;
}
.menu-collapsed{
    overflow: visible;
    &>.el-submenu__title{
        padding-left: 16px !important;
    }
    .base{
        width: 55px;
    }
    .first{
        &>.el-menu{
            margin-left: 0;
            border-left: 1px solid #536067;
        }
        &.is-active{
            background: #29B0A3;
        }
    }
    .second{
        &>.el-menu{
            left: -1px;
            // top: 38px;
            margin-left: 0;
            position: relative;
            border: 0;
            // transition: all 0 linear;
            border-left: 1px solid #536067;
            display: block !important;
            border-radius: 0;
            transition: all 0s linear;
        }
        .el-icon-arrow-right:before{
            content: "\E603";
        }

        .el-menu--collapse .el-submenu .el-menu{
        }
    }
    .third{
        padding-left: 36px !important;
    }
}
.setting{
    background: url('../../assets/images/setting.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.fs-16{
    font-size: 16px;
}
.el-form{
    .el-input__inner{
        font-size: 12px;
    }
    .el-form-item{
        &.w50{
            margin-right: 0;
            padding-right: 20px;
            width: 50%;
            box-sizing: border-box;
        }
        &.noLable{
            width: 100%;
            .el-form-item__content{
                width: 100%;
            }
        }
        &.textarea{
            .el-textarea{
                height: 134px;
            }
            .el-form-item__content{
                // height: 100%;
            }
        }
        &.hasButton{
            width: 100%;
            padding-right: 20px;
            .el-form-item__content{
                display: flex;
                justify-content: flex-end;
                button{
                    width: 76px;
                }
            }
        }
    }
    .el-textarea{
        .el-textarea__inner{
            height: 100%;
        }
    }
    .el-form-item__content{
        width: calc(100% - 120px);
    }
}
.labelInTop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // .commonForm{
        .el-form-item__label{
            display: block;
            line-height: 12px;
            font-size: 12px;
            margin-bottom: 10px;
            color:#333;
        }
        .el-form-item{
            .el-form-item__content{
                width: 100%;
            }
        }
    // }
}
