/******************************** 布局开始 ********************************/
.el-container{
    height: 100%;
    font-size: $font-size;
    background: $background;
}
.el-main>div{
    border-radius: $radius;
    box-sizing: border-box;
}
.el-header{
    width: 100%;
    background: $background-header;
    border-bottom: 1px solid #4b5960;
    padding: 0 $padding-default;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    .el-badge__content{
        border: 0;
    }
}
.sidebar-menu{
  width: 100% !important;
  transition: width 0;
  border-right: 0;
  .el-submenu__title .el-submenu__icon-arrow { color: #FFFFFF; }
  .el-submenu {
    .el-menu{ border-bottom: 1px solid #303B40; }
  }
  .el-icon-arrow-down:before{
    content: "\E604";
  }
  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    transform: rotate(90deg);
  }
}
.el-menu--collapse{
  .el-submenu {
    .el-menu {
      margin-left: 0;
      border: 0;
      box-shadow: none;
    }
    .first{
      background: #29B0A3; color: #fff;
    }
  }
}
.first{
  &.el-menu-item, & > .el-submenu__title {
    line-height: 44px;
    height: 44px;
    padding-left: 20px;
  }
  .iconfont{
    margin-right: 10px;
    margin-left: 4px;
  }
  &.is-active, &.is-active > .el-submenu__title {
    background: #29B0A3 !important;
    color: #FFFFFF !important;
    & > i { color: #FFFFFF; }
  }
}
.second{
  &.el-menu-item, & > .el-submenu__title {
    line-height: 38px;
    height: 38px;
    padding-left: 51px !important;
  }
  &.is-active, &.is-active > .el-submenu__title {
    background: #182125 !important;
    color: #FFFFFF !important;
  }
}
.el-breadcrumb {
    height: 41px;
    line-height: 40px;
    font-size: $font-size;
    border-bottom: $border;
    padding: 0 $padding-default;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    &__item {
        overflow: hidden;
        &:last-child{
          .el-breadcrumb__inner, .el-breadcrumb__inner a, .el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover{
            color: #999;
          }
        }
    }
    &__inner, &__inner a {
        color: $color-default;
        font-weight: normal;
    }
    .separatorClass {
        margin: 0 10px;
        &:after {
          content: "/";
        }
    }
}

/******************************** 布局结束 ********************************/
/******************************** 其他组件开始 ********************************/
.pagination-box{
    padding: $padding-default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>span{
        font-size: $font-size;
        color: #666;
    }
    .el-input{
        height: 24px;
        width: 50px;
    }
    .el-pagination{
        // width: 512px;
        text-align: right;
    }
}
.el-table th, .el-table tr, .el-table td{
  background-clip: padding-box;
}
.el-tabs{
  .el-tabs__header{
    margin: 0;
  }
  .el-tabs__nav{
    line-height: 60px;
    &-wrap{
      padding-left: $padding-default;
      &:after{
        background-color: $color-border;
        height: 1px;
      }
    }
  }
  .el-tabs__item{
    color: #999;
    font-size: 16px;
    &.is-active{ color: $color-default; }
  }
  .el-tabs__active-bar{ background-color: $color-default; }
  .el-tabs__nav-next, .el-tabs__nav-prev{
    line-height: 60px;
  }
}
.el-button{ font-size: $font-size; }
.el-button:not(.el-button--text){
  border-color: $color-border;
  display: inline-flex;
  height: $height-input;
  justify-content: center;
  // line-height: 0;
  padding: 0 20px;
  align-items: center;
  background: $white;
  color: $color-default;
  &+button{ margin-left: 20px; }
  &:hover, &:active, &:focus, &:visited{
    @include button-hover;
  }
}
.dialog .el-dialog__body{
  padding-bottom: 20px;
}
// .el-date-editor{
//   .el-range-input, .el-range-separator {
//      height: 25px;
//      margin-bottom: 6px;
//      font-size: $font-size;
//   }
// }
// .el-tree-node__expand-icon{
//   font-family: "iconfont" !important;
//   &:before{
//     content: "\E61D";
//   }
//   &.expanded{
//     transform: none;
//   }
// }
/******************************** 表单开始 ********************************/
.el-form{
    box-sizing: border-box;
    &.el-form--label-top{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .el-form-item__label{
            line-height: 1;
            font-size: $font-size;
            color:#666;
        }
        .el-form-item__content{
            width: 100%;
        }
    }
    .el-input__inner{
        font-size: $font-size;
        color: $color-default;
    }
    .el-textarea{
        .el-textarea__inner{
            height: 100%;
        }
    }
    .el-form-item__content{ // 当有标签且标签与输入框在同一行时输入框的宽度
        width: calc(100% - 120px);
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 100%;
    }
}
.el-input, .el-select{
    height: $height-input;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    width: 100%;
    .el-input__inner{
        height: 100%;
        font-size: $font-size;
    }
}
.el-input__inner, .el-textarea__inner {
  background: transparent;
}
.el-input__prefix, .el-input__suffix{
    width: 36px;
}
.el-input__suffix{
  right: 0;
}
.el-input--suffix{
  .el-input__inner{
    padding-right: 36px;
  }
}
.el-input__prefix{
  left: 0;
}
.el-input--prefix .el-input__inner{
  padding-left: 36px;
}
.el-input__icon{
  line-height: $height-input;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
  border-color: #dcdfe6;
}
/******************************** 表单结束 ********************************/
.el-submenu__title, .el-menu-item{ font-size: $font-size; }
.iconfont{ font-size: 14px; }
.el-breadcrumb, .el-tree{ background: $white; }
